<div class="container vh-100">
    <div class="row justify-content-center h-100">
        <div class="card my-auto shadow">
            <div class="card-body px-5">
                <div class="text-center">
                    <fa-icon [icon]="faLock" class="fa-2x"></fa-icon>
                </div>
                <div class="text-center">
                    <h2>Welcome</h2>
                </div>
                <p style="color: lightslategray; text-align: center;">
                    Please enter your login
                    details</p>
                    <small *ngIf="userCrendentialMessage" class="text-danger text-center">{{userCrendentialMessage}}</small>
                    <br>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <input type="email" id="email" placeholder="Email" class="form-control" formControlName="email"
                            name="email" />
                            <small class="text-danger" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">Email is not valid</small>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="password" id="password" placeholder="Password" class="form-control"
                            formControlName="password" name="password" />
                            <small class="text-danger" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">Password is not valid</small>
                    </div>
                    <br>
                    <input type="submit" class="btn btn-primary w-100" value="Login" name="">
                </form>
            </div>
            <div class="card-footer text-right">
                <small class="ml-auto">
                    <a routerLink="../forgot-password">Forgot Password</a>
                </small>
            </div>
        </div>
    </div>
</div>